.paginator {
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  gap: 10px;
}

.page-item {
  padding: 7px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

.but {
  background: rgb(226, 202, 15);
  border-radius: 10px;
  width: 90px;
  display: flex;
  justify-content: center;
}

.but a {
  color: black;
}
